/* Header.css */
.search {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Allow the search bar to take available space */
  background-color: aliceblue;
}

.search-icon {
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-root {
  color: inherit;
}

.input-input {
  padding: 8px 8px 8px 0;
  padding-left: calc(1em + 32px);
  width: 100%;
}

.section-desktop {
  display: flex;
  align-items: center;
}

.avatar {
  margin-left: 16px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(212, 212, 212);
}

.appbar {
  height: 100%;
  width: 100%;
}
